<form class="add-movie-form" {{action 'addMovie' on='submit'}}>
  <label>
    Title:
    {{input class='title-input' type='text' value=title}}
  </label>
  <label>
    Date Released:
    {{input class='date-input' type='text' value=date}}
  </label>
  <label>
    Review:
    {{input class='review-input' type='text' value=review}}
  </label>
  <label>
    Rating:
    {{input class='ratings-input' type='number' min='1' max='5' value=rating placeholder='1-5 Stars'}}
  </label>
    <button class='submit-new-btn'>
      Submit
    </button>
</form>

{{yield}}
