<h2>Movie reviews</h2>
{{add-movie}}
  {{#if model}}
    {{#each model as |movie|}}
      <div class='movieCard'>
        <h2 class='card-movie-title'>{{movie.title}} </h2>
        <h6> Date Released: {{movie.date}}</h6>
        <h6> Review: {{movie.review}}</h6>
      </div>
    {{/each}}
    {{else}}
      <p>
        You have not added any movies. Please add some!
      </p>
  {{/if}}
{{outlet}}
